*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family: 'Unbounded', sans-serif;
    background-color: #151414;
    text-transform: uppercase;
    color : #E0F1F3;
    overflow-x: hidden;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*    NAVBAR    */
.nav{
    width : 100vw;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.05rem;
    padding : 0px 15px;
    position: relative;
    position: fixed;
    z-index: 9;
    background-color: #151414;
    height: 112px;
}
.nav ul li{
    text-decoration: none;
    padding : 45px 20.5px;
    /* background-color: #E0F1F3;
    color : #151414; */
    position: relative;
    overflow: hidden;
}
.nav ul{
    list-style: none;
    /* gap : 4vw; */
}
.btn{
    border : 2px solid #E0F1F3;
    border-radius: 50px;
    background-color: #151414;
    color: #E0F1F3;
    padding : 12px 28px;
    font-family: 'Unbounded', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    background: transparent;
    margin: 0px 5px;
}
.ani1::before{
    content: "";
    position: absolute;
    width : 100%;
    height : 100%;
    background-color: #E0F1F3;
    top : 0;
    left : 0;
    transform: translateY(100%);
    transform-origin: bottom;
    transition: all linear 0.2s;
    z-index: -1;
}
.ani2-elem2{
    z-index: 9;
    overflow: hidden;
}
.btn .ani1::before{
    opacity: 0;
    transform: translateY(0%);
}
.nav ul li:hover .ani1::before{
    transform: translateY(0%);
}
.btn:hover .ani1::before{
    /* transform: translateY(0%); */
    opacity: 1;
}
.ani2{
    /* overflow: hidden; */
    height : 22px;
    transition: all linear 0.1s;
}
.btn .ani2{
    height : 20px;
    /* overflow: hidden; */
}
.ani2-elem{
    color : #151414;
}
.nav ul li:hover .ani2{
    transform: translateY(-100%);
}
.btn:hover .ani2{
    transform: translateY(-80%);
}
.logo{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    color : #E0F1F3;
    height : 30px;
    width : 150px;
}
.menu{
    height : 15px;
    width : 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
    /* background-color: red; */
}
.menu .first{
    width : 100%;
    height : 2px;
    background-color: #E0F1F3;
    transform-origin: 25%;
    transition: all linear 0.2s;
}
.menu .sec{
    width : 100%;
    height : 2px;
    background-color: #E0F1F3;
    transform-origin: 25%;
    transition: all linear 0.2s;
}


/*    HERO    */
.hero{
    flex-direction: column;
    width : 100vw;
    padding-top : 320px; 
    gap:3vw;
}
.hero p{
    width : 25vw;
    text-align: center;
    color : #adbabb;
    font-size: 1.1rem;
}
.mouse{
    background-color: #E0F1F3;
    height : 30px;
    width : 20px;
    border-radius: 9px;
    align-items: start;
    padding : 7px;
}
.mouse-dot{
    background-color: #151414;
    height:4px;
    width:2px;
    
}

/*  VIDEO-SECTION  */
.video-sec{
    min-height: 55vh;
    height : 80vh;
    width : 100vw;
    background: url(assets/oeixs.gif);
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}
/* .gif{
    width : 100vw;
} */





.extra{
    width : 100%;
    height : 100vh;
}



@media (max-width : 990px) {
    .left-nav{
        /* background-color: #151414;
        z-index: -1; */
        position: absolute;
        top : 100px;
        left : 0;
        width : 100vw;
        align-items: end;
        /* background-color: #151414; */
        /* background-color: red; */
        z-index: -9;
        /* transform: translateY(-100%); */
        overflow: hidden;
    }
    .left-nav ul{
        width: 100%;
        justify-content: space-between;
        transform: translateY(-100%);
        background-color: #151414;
        transition: all linear 0.2s;
        padding : 0px 30px 0px 20px;
    }
    .right-nav{
        display : none;
    }
    .logo{
        position: static;
        margin-top: 30px;
    }
    .menu{
        display: flex;
    }
    .nav{
        padding : 0px 50px 0px 80px;
        align-items: center;
        justify-content: space-between;
        /* background-color: #151414; */
    }
}

@media (max-width : 760px) {
    .left-nav{
        flex-wrap: wrap;
    }
    .left-nav ul{
        flex-wrap: wrap;
        padding-right:30px;
    }
    .left-nav ul li{
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width : 470px){

}